.page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background-color: #1a202c;
}

.nav {
    display: flex;
    width: 100%;
    position: fixed;
    top: 10px;
    padding: 0 20px 0 20px;
}

.nav > .logo {
    width: 20%;
    align-self: center;
}

.nav > .logo > h3 {
    color: white;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 3px;
    margin: 0;
    transition: 0.2s;
}

.nav > .logo > h3:hover {
    color: #b1f3ff;
    cursor: pointer;
    transition: 0.2s;
}

.nav > .links {
    width: 80%;
}

.nav > .links > ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
}

.nav > .links > ul > li > a{
    color: #4e647d;
    transition: 0.2s;
}

.nav > .links > ul > li > a:hover{
    color: #b1f3ff;
    transition: 0.2s;
}

.login-box {
    background-color: white;
    height: 400px;
    width: 300px;
    border-radius: 30px;
    padding: 30px;
}

.login-box > form > .form-group > input::placeholder {
    font-size: 11px;
    letter-spacing: 1px;
}

.login-box > .title > h2 {
    font-weight: 600;
    margin-bottom: 25px;
}

.login-box > form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
